@import "bootstrap-sass/assets/stylesheets/bootstrap/variables";

.calendar-component {
	table{
		width: 100%;
		border-collapse: collapse;
	}
	width: 100%;
	.month-day{
		width: 14.28%;
	}
	.focused {
		background-color: $brand-success;
	}
	.other-month{
		color: $gray-light;
		background-color: $gray-lighter;
	}
	td.day {
		vertical-align: top;
		cursor: pointer;
		border: 1px solid $gray-light;
		height: 60px;
		padding: 1%;
		.date {
			position: absolute;
		}
	}
	.left-chevron {
		float: left;
	}
	.left-chevron:before{
		content: "<"
	}
	.right-chevron {
		float: right;
	}
	.right-chevron:before{
		content: ">"
	}		
}